data_dir/**
venv_*/
.vscode/
.hf_cache/
**__pycache__**
*.out
*.sif
old*.*/
src/notebook/data_dir/**
# unignore these files
!data_dir/
!data_dir/processed_kgqa_ds/
!data_dir/processed_kgqa_ds/lcquad2/
!data_dir/processed_kgqa_ds/lcquad2/test/
!data_dir/processed_kgqa_ds/qald9plus/
!data_dir/processed_kgqa_ds/qald9plus/test/
!data_dir/processed_kgqa_ds/qald9plus/train/
!data_dir/processed_kgqa_ds/qald10/
!data_dir/processed_kgqa_ds/qald10/test/
!data_dir/processed_kgqa_ds/spinach/
!data_dir/processed_kgqa_ds/spinach/test/
!data_dir/processed_kgqa_ds/spinach/train/

!data_dir/processed_kgqa_ds/lcquad2/test/tentrisq10_aug_gold.json
!data_dir/processed_kgqa_ds/qald9plus/test/tentrisq10_aug_gold.json
!data_dir/processed_kgqa_ds/qald9plus/train/tentrisq10_aug_gold.json
!data_dir/processed_kgqa_ds/qald10/test/tentrisq10_aug_gold.json

!data_dir/processed_kgqa_ds/lcquad2/test/tentrismain_aug_gold.json
!data_dir/processed_kgqa_ds/qald9plus/test/tentrismain_aug_gold.json
!data_dir/processed_kgqa_ds/qald9plus/train/tentrismain_aug_gold.json
!data_dir/processed_kgqa_ds/qald10/test/tentrismain_aug_gold.json

!data_dir/processed_kgqa_ds/spinach/test/tentrismain_aug_gold.json
!data_dir/processed_kgqa_ds/spinach/train/tentrismain_aug_gold.json

!data_dir/gerbil_results
!data_dir/figures/
!data_dir/figures/mars-kgqa-overview.png
!data_dir/gerbil_results/
!data_dir/gerbil_results/**

!data_dir/analysis/
!data_dir/analysis/*.md

launch_chunks_verbalization.sh
